In [1]:
!pwd

/Users/ashish1610dhiman/gatech_projects/time_series_practice/notebooks/stocks_clustering

In [2]:
import sys
import matplotlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import yfinance as yf
import datetime

sys.version

'3.9.15 | packaged by conda-forge | (main, Nov 22 2022, 08:55:37) \n[Clang 14.0.6 ]'

In [3]:
%load_ext autoreload 
%autoreload 2

### Get S&P 500 Ticker list

In [4]:
table=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
df_ticker = table[0]

In [5]:
df_ticker.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [6]:
df_ticker.shape

(503, 9)

In [7]:
df_ticker.to_csv("../../data/sp500_ticker_sector.csv",index=False)

### Scrape daily stock data for 500 tickers

In [8]:
start = datetime.datetime(2015, 1, 1)
end = datetime.datetime(2022, 11, 30)

In [9]:
tickers = list(df_ticker["Symbol"])
tickers[:5]

['MMM', 'AOS', 'ABT', 'ABBV', 'ACN']

In [10]:
stock_prices = yf.download(tickers, start=start, end=end)

[*********************100%***********************]  503 of 503 completed

2 Failed downloads:
- BF.B: No data found for this date range, symbol may be delisted
- BRK.B: No timezone found, symbol may be delisted

In [11]:
stock_prices.head()

                     Adj Close                                               \
                             A        AAL         AAP       AAPL       ABBV
Date
2015-01-02 00:00:00  37.941978  51.079910  148.292755  24.603207  46.979839
2015-01-05 00:00:00  37.231033  51.051483  146.338089  23.910097  46.095711
2015-01-06 00:00:00  36.651051  50.255592  146.235245  23.912344  45.867554
2015-01-07 00:00:00  37.137489  50.227158  149.377655  24.247646  47.721359
2015-01-08 00:00:00  38.250690  50.843033  150.686996  25.179295  48.220463

                                                                            \
                           ABC        ABT       ACGL        ACN       ADBE
Date
2015-01-02 00:00:00  79.608658  38.606461  19.496668  77.739204  72.339996
2015-01-05 00:00:00  78.931030  38.615059  19.379999  76.426620  71.980003
2015-01-06 00:00:00  79.362244  38.176548  19.423332  75.875359  70.529999
2015-01-07 00:00:00  80.946335  38.486088  19.536667  77.467957  71.110001
2015-01-08 00:00:00  81.131142  39.277130  19.876667  78.649269  72.919998

                     ...   Volume                                       \
                     ...     WYNN      XEL       XOM     XRAY      XYL
Date                 ...
2015-01-02 00:00:00  ...  2228900  2534900  10220400  1825800   605900
2015-01-05 00:00:00  ...  1695100  3107200  18502400  1469800  1369900
2015-01-06 00:00:00  ...  1975800  4749600  16670700  1988400  1333200
2015-01-07 00:00:00  ...  1472000  2833400  13590700   959800  1038600
2015-01-08 00:00:00  ...  1676600  2516800  15487500  1409500   821800


                         YUM      ZBH    ZBRA     ZION      ZTS
Date
2015-01-02 00:00:00  2283466   936579  411800  2298700  1784200
2015-01-05 00:00:00  4418651  2223873  420300  5326000  3112100
2015-01-06 00:00:00  5004401  1835563  527500  9086500  3977200
2015-01-07 00:00:00  4554134  1505860  467800  2759900  2481800
2015-01-08 00:00:00  4258268  1449004  324400  1831500  3121300

[5 rows x 3018 columns]

In [12]:
stock_prices.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1992 entries, 2015-01-02 00:00:00 to 2022-11-29 00:00:00
Columns: 3018 entries, ('Adj Close', 'A') to ('Volume', 'ZTS')
dtypes: float64(2539), int64(479)
memory usage: 45.9+ MB

In [17]:
stock_prices.to_csv("../../data/sp500_stock_prices.csv", index =None)

In [13]:
stock_prices.to_excel("../../data/sp500_stock_prices.xlsx")